@use 'variables' as *;

body {
    color: $text-white-0 !important;
}

.v-application {
    background: url('../assets/product_back.jpg') center/cover no-repeat !important;

    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(15.65px);
    }
}

.at-button {
    text-transform: unset !important;
    display: flex !important;
    padding: 10px 18px !important;
    // width: 128px;
    height: 44px !important;
    background: rgba(0, 0, 0, 0.15) !important;
    border: $border-1 solid $stroke-white-15 !important;
    align-items: baseline !important;
    border-radius: $radius-mega !important;

    // margin-bottom: $spacing-5;

}