@use 'variables' as *;

.at-news-container {
    display: flex;
    flex-wrap: wrap;
    padding: $spacing-6 $spacing-12 !important;
    gap: $spacing-6;
}

::-webkit-scrollbar {
    width: 18px;
}


::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    border: $at-border;
}

::-webkit-scrollbar-track {
    background: $bg-dark-base;
}

.v-application {
    background: url('../assets/product_back.jpg') center/cover no-repeat !important;



    &.dark-bg::before {
        content: '';
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: $blur-background;
    }

    .at-button {
        text-transform: unset !important;
        display: flex;
        min-width: unset;
        background: rgba(0, 0, 0, 0.15) !important;
        border: $at-border;
        border-radius: $radius-mega !important;

        .v-btn__underlay {
            background: unset;
        }

        .v-progress-circular__overlay {
            color: rgb(var(--v-theme-primary-base));
        }
    }

    .at-chip {
        background-color: $neutral-600;
        border-radius: $radius-huge;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 $button-padding-medium
    }

    .at-button-nav {
        height: 36px !important;
        width: 36px !important;
        border-radius: 50% !important;
        padding: 0 !important;
    }

    .at-button-nav-prev::before,
    .at-button-nav-next::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 24px;
        height: 24px;
        background-image: url('../assets/arrow.png');
    }

    .at-button-nav-next::before {
        transform: rotate(180deg);
    }

    .at-app-bar {
        padding: 0px $card-padding-big;
        height: 80px;
        // background: $bg-dark-base-solid;
        background: rgba(0, 0, 0, 0.46);
        backdrop-filter: blur(15.65px);
        border-bottom: $at-border;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        width: calc(100% - $at-drawer-width);

        .at-button {
            height: 48px;
            padding: $button-padding-small $button-padding-max $button-padding-small $button-padding-xsmall;
            gap: 8px;
        }
    }

    .at-code-container {
        padding-top: 80px;

        .at-code-card,
        .at-code-history {
            margin: auto;
            max-width: 880px;
        }

        .at-code-history>div {
            margin-bottom: $spacing-4;
        }

        .at-code-card {
            margin: 0 auto 80px;
            padding: $card-padding-large;
            display: flex;
            flex-direction: column;
            align-items: center;

            background: $bg-dark-20;
            border: $at-border;
            backdrop-filter: blur(89.35px);
            border-radius: $radius-huge;

            .at-button {
                background-color: rgb(var(--v-theme-primary-base-dark)) !important;
                height: 48px;
                padding: 0 $button-padding-big;
            }

            .code_card__body {
                text-align: center;
                margin: $spacing-6 0;
                max-width: 670px;

                div:nth-child(1) {
                    margin-bottom: $spacing-4;
                }
            }

            .code-card__input {
                margin-bottom: $spacing-6;

                div:nth-child(1) {
                    text-align: center;
                    margin-bottom: $spacing-4;
                }

                .at-text-input {
                    width: 430px;
                    height: 56px;

                    background: rgba(0, 0, 0, 0.5);
                    border: $at-border;
                    border-radius: $radius-large;
                }
            }
        }

        .code-card__icon {

            width: 64px;
            height: 64px;

            background: rgb(var(--v-theme-primary-base-dark));
            border-radius: $radius-mega;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: $icon-24;
                height: $icon-24;
            }
        }
    }

    .at-tabs {

        .v-tab {
            padding: 0 $card-padding-max;
            opacity: 0.5;
        }

        .v-tab.v-tab-item--selected {
            opacity: 1;

        }

        .v-tab__slider {
            height: 3px !important;
            background: rgb(var(--v-theme-primary-base))
        }
    }

    .at-action-button {
        gap: 10px;
        width: 305px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: $radius-mega;
        background: rgba(0, 0, 0, 0.15) !important;
        backdrop-filter: $blur-background;
    }

    .at-text-input {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: $radius-large;

        .v-field__overlay,
        .v-field__outline {
            display: none;
        }

        &.v-input--focused {
            background: rgba(0, 0, 0, 0.5);
            outline: 2px solid rgba(255, 255, 255, 0.5) !important;
            border-radius: $radius-large;

        }

        input {
            caret-color: $state-success
        }

        &.v-input--error {
            background: rgba(0, 0, 0, 0.5);
            outline: 1px solid $state-error !important;
            border-radius: $radius-large;

            .v-messages {
                color: $state-error !important;
            }
        }
    }

    .v-card__loader {
        color: rgb(var(--v-theme-primary-base));
    }




    .vueperslides__fractions {
        all: unset;

        display: flex;
        justify-content: center;

        .at-slider-controls {
            display: flex;
            align-items: center;

            .at-slider-pg {
                white-space: nowrap;
                margin: 0 $spacing-2;
            }
        }
    }

    .vueperslides__track {
        z-index: unset;

        .vueperslide {
            border: $at-border;
        }

        .vueperslide--active {
            border: 3px solid rgb(var(--v-theme-primary-base));
        }
    }

    .vueperslides--fixed-height.vueperslides--bullets-outside {
        margin-bottom: unset;
    }
}